%p#notice= notice

<div class="col-md-6 col-md-offset-3">
%p
  %b Title:
  = @dataset.title

%p
  %b Source:  
%p
  %b Description:
  = @dataset.description
%p
  %b Creation date:
  = @dataset.createdate

- if @attachments
  %p
    %b Attachments:
    = @attachments.each do |attachment|
      %p = attachment.to_s

= form_for @attachment do |f|
  = f.filepicker_field :id, dragdrop: true
  = f.submit

= link_to 'Edit', edit_dataset_path(@dataset)
\|
= link_to 'Back', datasets_path
</div>
